* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}
body header {
  background-color: #4b356d;
}
body header a {
  text-decoration: none;
}
body header a:hover {
  color: #e3daf0;
  transition: ease-in 0.2s;
}
body header h1, body header a {
  color: #c2bacf;
}
body header nav span {
  text-decoration: underline;
}
body main {
  background-color: #c2bacf;
  display: flex;
  flex-direction: column;
}
body main p {
  line-height: 220%;
}
body main .bold {
  font-weight: bold;
}
body main .italic {
  font-style: italic;
}
body main #section-biografia, body main .section-discografia h3, body main .section-discografia h4, body main .section-discografia p, body main .section-titulo, body main .section-titulo + p, body main #section-tour-mapa h3 {
  color: #4b356d;
}
body main #section-cita {
  color: #c2bacf;
  background-color: #644791;
}
body main .section-discografia {
  padding-bottom: 3em;
}
body main .section-discografia img {
  width: 100%;
  height: 100%;
}
body main .section-discografia div + div {
  display: flex;
  flex-direction: column;
}
body main .section-discografia p {
  text-align: justify;
  font-size: 1.3em;
}
body main .section-discografia h3 {
  font-size: 2em;
}
body main .section-discografia .list-canciones {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
body main .section-discografia .list-canciones li {
  padding: 1em;
  display: flex;
  justify-content: space-between;
}
body main .section-discografia .list-canciones li:nth-child(odd) {
  background-color: #644791;
  color: #e3daf0;
}
body main .section-discografia .list-canciones li:nth-child(even) {
  background-color: #e3daf0;
  color: #644791;
}
body main #section-tour-mapa {
  margin: 2em;
  padding: 2em;
}
body main #section-tour-mapa div h3 {
  text-align: center;
}
body main #main-contacto {
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  padding: 3em;
}
body main #main-contacto h2 {
  font-size: 2em;
  padding: 1em;
}
body main #main-contacto p {
  font-size: 1.2em;
  text-align: center;
}
body main #form-container {
  width: 100%;
  height: 100%;
}
body main #form-container #form-div {
  background-color: rgba(101, 71, 145, 0.3019607843);
  padding: 2em;
  margin: 0 auto;
}
body main #form-container #form-div label {
  color: #4b356d;
}
body main #form-container #form-div label a {
  color: #1f014d;
}
body main #form-container #form-div input, body main #form-container #form-div textarea {
  background-color: #e3daf0;
  border: 5px solid rgba(0, 0, 0, 0);
}
body main #form-container #form-div #btn-form {
  cursor: pointer;
  background-color: #4b356d;
  color: #c2bacf;
  padding: 1.2em;
  margin-top: 4em;
}
body main #form-container form {
  padding-bottom: 1.8em;
}
body footer {
  color: #383838;
  background-color: #dbdbdb;
}
@media only screen and (min-width: 1200px) {
  body header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body header h1 {
    font-size: 1.7em;
  }
  body header h1, body header nav {
    padding: 1em;
  }
  body header nav ul {
    display: flex;
    gap: 2em;
    padding: 1em 1em 0 0;
  }
  body header nav ul li {
    font-size: 1.1em;
    text-align: center;
  }
  body main {
    padding: 0 10em;
  }
  body main #section-introduccion {
    display: flex;
    justify-content: space-between;
    font-size: 1.3em;
    padding-bottom: 2em;
  }
  body main #section-introduccion #text-introduccion {
    width: 100%;
    height: 100%;
    margin-right: 1em;
  }
  body main #section-introduccion #text-introduccion h2 {
    margin: 2em 1em 0 0em;
    font-size: 2.5em;
    padding-bottom: 1em;
  }
  body main #section-introduccion #text-introduccion p {
    text-align: justify;
    font-size: 1em;
  }
  body main #section-introduccion img {
    margin: 5em 1em 0 2em;
    width: 95%;
    height: auto;
    padding-bottom: 2em;
  }
  body main #section-cita {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.2em;
  }
  body main #section-cita img {
    width: 100%;
    height: 100%;
    padding: 1em;
  }
  body main #section-cita blockquote {
    font-size: 1.2em;
    text-align: center;
    font-style: italic;
    padding: 1em 2em;
    width: 90%;
    height: 100%;
  }
  body main #section-biografia {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 3em;
    justify-content: space-between;
    margin: 0 1em;
    padding: 2em;
  }
  body main #section-biografia p {
    margin: 1em 1em;
    text-align: justify;
    font-size: 1.25em;
  }
  body main #section-titulo-discografia {
    margin: 2em;
  }
  body main .section-discografia div + div {
    margin: 4em 2em 0em 2em;
  }
  body main .section-discografia h4 {
    text-align: center;
    padding: 1em 0em 2em 0;
    font-size: 1.7em;
  }
  body main .section-discografia li {
    padding: 1em;
    width: 100vh;
    height: auto;
  }
  body main #section-tour-mapa h2 {
    padding-bottom: 0.7em;
  }
  body main #section-tour-mapa hr {
    margin-top: 5em;
  }
  body main #section-tour-mapa h3 {
    font-size: 1.7em;
    padding-top: 2em;
  }
  body main #section-tour-mapa #grid-tour {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2em;
    padding: 2em 2em;
    margin: 2em;
  }
  body main #section-tour-mapa #grid-tour iframe {
    border: none;
    width: 100%;
    height: 100%;
  }
  body main #section-tour-mapa #grid-tour img {
    width: 100%;
    height: 100%;
  }
  body #main-contacto {
    padding-bottom: 3em;
  }
  body #main-contacto h2 {
    font-size: 2em;
    padding: 1em 0;
  }
  body #main-contacto p {
    padding-bottom: 1em;
  }
  body #main-contacto #form-div {
    width: 100vh;
    height: auto;
  }
  body #main-contacto #form-div p {
    font-size: 1em;
  }
  body #main-contacto #form-div .form-datos {
    line-height: 150%;
    padding: 0.2em;
    width: 100%;
    height: 100%;
  }
  body #main-contacto #form-div .form-datos textarea {
    width: 100%;
    height: 100%;
    line-height: 150%;
  }
  body #main-contacto #form-div #btn-form {
    width: 100%;
    height: 100%;
    font-size: 1.3em;
  }
}
@media only screen and (min-width: 601px) and (max-width: 1199px) {
  body header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  body header h1 {
    font-size: 1.5em;
  }
  body header h1, body header nav {
    padding: 1em;
  }
  body header nav ul {
    display: flex;
    gap: 1.5em;
    padding: 1em;
  }
  body header nav ul li {
    font-size: 1em;
    text-align: center;
  }
  body #section-introduccion {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 2em;
    font-size: 1.2em;
  }
  body #section-introduccion #text-introduccion {
    color: #4b356d;
    width: 100%;
    height: 100%;
    padding: 2em;
  }
  body #section-introduccion #text-introduccion h2 {
    font-size: 2em;
    padding-bottom: 1em;
  }
  body #section-introduccion #text-introduccion p {
    text-align: justify;
    font-size: 1.2em;
  }
  body #section-introduccion img {
    width: 100%;
    height: 100%;
  }
  body #section-cita {
    display: flex;
    flex-direction: column;
  }
  body #section-cita img {
    width: 30%;
    height: 100%;
    margin: 0 auto;
    display: block;
    padding-top: 2em;
  }
  body #section-cita blockquote {
    font-size: 1.5em;
    text-align: center;
    font-style: italic;
    padding: 2em 4em;
    width: 100%;
    height: 100%;
  }
  body #section-biografia {
    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    margin: 2em;
    padding: 2em;
  }
  body #section-biografia p {
    text-align: justify;
    font-size: 1.4em;
  }
  body #section-titulo-discografia {
    margin-top: 2em;
    text-align: center;
    font-size: 2.5em;
  }
  body .section-discografia {
    margin: 2em;
    padding: 2em;
  }
  body .section-discografia h3 {
    padding: 2em 0 1em 0;
  }
  body .section-discografia h4 {
    padding-top: 2em;
    text-align: center;
    padding-bottom: 2em;
    font-size: 1.5em;
  }
  body .section-discografia .list-canciones ol {
    font-size: 1.2em;
    width: 100%;
    height: 100%;
    margin-left: -2em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body .section-discografia .list-canciones ol li {
    width: 100%;
    height: auto;
  }
  body #section-tour-mapa div:nth-child(1) {
    padding-bottom: 3em;
  }
  body #section-tour-mapa div:nth-child(1) h2 {
    font-size: 2.5em;
    padding-bottom: 0.8em;
  }
  body #section-tour-mapa div:nth-child(1) p {
    font-size: 1.2em;
  }
  body #section-tour-mapa h3 {
    font-size: 1.7em;
    margin-top: 2em;
  }
  body #section-tour-mapa #grid-tour {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5em;
    padding: 2em;
    margin: 2em;
  }
  body #section-tour-mapa #grid-tour iframe {
    border: none;
    width: 100%;
    height: 30em;
  }
  body #section-tour-mapa #grid-tour img {
    width: 100%;
    height: 100%;
  }
  body #main-contacto h2, body #main-contacto p {
    text-align: center;
  }
  body #main-contacto h2 {
    font-size: 1.7em;
    padding-top: 2em;
  }
  body #main-contacto p {
    font-size: 1.2em;
    padding: 0.5em;
  }
  body #main-contacto #form-div .form-datos {
    width: 100%;
    height: auto;
  }
  body #main-contacto #form-div div {
    font-size: 1em;
    text-align: center;
  }
  body #main-contacto #form-div #btn-form {
    font-size: 1.2em;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: block;
  }
}
@media only screen and (max-width: 600px) {
  body header {
    padding: 1em;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
  }
  body header h1 {
    font-size: 2em;
  }
  body header nav {
    margin-left: auto;
  }
  body header nav ul {
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 1em;
  }
  body header nav ul li {
    font-size: 1em;
    text-align: right;
  }
  body main .section-titulo h2 {
    color: #4b356d;
    text-align: center;
    font-size: 1.5em;
    padding: 1em 0;
  }
  body main #section-introduccion {
    display: flex;
    flex-direction: column;
    margin: 2em 0em;
    padding: 2em;
    text-align: justify;
  }
  body main #section-introduccion img {
    width: 100%;
    height: 100%;
  }
  body main #section-cita {
    display: flex;
    flex-direction: column;
  }
  body main #section-cita img {
    width: 100%;
    height: 100%;
    padding: 1em;
  }
  body main #section-cita blockquote {
    font-size: 1em;
    text-align: justify;
    font-style: italic;
    padding: 2em;
    width: 100%;
    height: 100%;
  }
  body main #section-biografia {
    display: flex;
    flex-direction: column;
    text-align: justify;
    padding: 2em;
    font-size: 1em;
  }
  body main #section-titulo-discografia {
    margin: 2em 0;
    text-align: center;
    font-size: 1.7em;
  }
  body main .section-discografia {
    padding: 2em 0;
  }
  body main .section-discografia div + div {
    margin: 2em 2em;
  }
  body main .section-discografia div + div p {
    font-size: 1em;
  }
  body main .section-discografia h3 {
    padding-bottom: 0.5em;
    font-size: 1.5em;
  }
  body main .section-discografia img {
    width: 100%;
    height: 100%;
  }
  body main .section-discografia h4 {
    text-align: center;
    font-size: 1.2em;
    padding: 1em 0 2em 0;
  }
  body main .section-discografia .list-canciones ol {
    font-size: 1em;
    width: 100%;
    height: 100%;
    margin-left: -2em;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  body main .section-discografia .list-canciones ol li {
    width: 100%;
    height: auto;
  }
  body main #section-tour-mapa h2 {
    font-size: 1.7em;
    padding-bottom: 0.5em;
  }
  body main #section-tour-mapa h2, body main #section-tour-mapa p {
    text-align: center;
  }
  body main #section-tour-mapa div h3 {
    font-size: 1.5em;
    padding: 1em 0;
  }
  body main #section-tour-mapa #grid-tour iframe {
    border: none;
    width: 100%;
    height: 30em;
  }
  body main #section-tour-mapa #grid-tour img {
    width: 100%;
    height: 20em;
  }
  body #main-contacto h2, body #main-contacto p {
    text-align: center;
  }
  body #main-contacto h2 {
    font-size: 1.7em;
    padding-top: 2em;
  }
  body #main-contacto p {
    font-size: 1.1em;
    padding: 0.5em;
  }
  body #main-contacto #form-div form {
    padding-bottom: 1.8em;
  }
  body #main-contacto #form-div textarea {
    width: 100%;
    height: 10em;
  }
  body #main-contacto #form-div .form-datos {
    width: 100%;
    height: auto;
  }
  body #main-contacto #form-div div {
    font-size: 1em;
    text-align: center;
  }
  body #main-contacto #form-div #btn-form {
    font-size: 1.2em;
    width: 70%;
    height: 100%;
    margin: 0 auto;
    display: block;
  }
}

/*# sourceMappingURL=pages.css.map */
