@import "utilidades/variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    font-family: $font-family;
}
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    header {
        background-color: $background-color-1;
        a{
            text-decoration: none;
        }
        h1, a {
            color: $text-color-3;
        }
        nav span {
            text-decoration: underline;
        }
        a:hover {
            color: #d7c5f3;
            transition: ease-in 0.2s;
        }
    }
    main {
        background-color: #c2bacf;
        display: flex;
        flex-direction: column;
        p {
            line-height: 220%;
        }
        #section-biografia {
            color: #4b356d;
        }
        .section-discografia h3, .section-discografia h4, .section-discografia p {
            color: #4b356d;
        }
        
        .list-canciones {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
        }
        
        .list-canciones li{
            padding: 1em;
            display: flex;
            justify-content: space-between;
        }
        
        .list-canciones li:nth-child(odd){
            background-color: #644791;
            color: #c2bacf;
        }
        
        .list-canciones li:nth-child(even){
            background-color: #c2bacf;
            color: #644791;
        }
        
        .img-discografia img{
            width: 100%;
        }
        
        .section-discografia {
            padding-bottom: 3em;
        }
        
        .section-discografia div + div {
            display: flex;
            flex-direction: column;
            margin: 0 2em 0 2em;
            padding: 2em;
        }
        
        .section-discografia h3, #section-tour-mapa h3 {
            font-size: 2em;
        }
        
        .section-discografia p {
            text-align: justify;
            font-size: 1.3em;
        }
        
        .section-titulo, .section-titulo + p, #section-tour-mapa h3{
            color: #4b356d;
        }
        
        #section-tour-mapa {
            margin: 2em 2em 2em 2em;
            padding: 2em;
        }
        
        #section-tour-mapa div h3 {
            text-align: center;
        }
        
        #main-contacto {
            display: flex;
            flex-direction: column;
            gap: 1em;
            align-items: center;
            padding: 3em;
        }
        
        #main-contacto h2 {
            font-size: 2em;
            padding: 1em;
        }
        
        #main-contacto p {
            font-size: 1.2em;
            text-align: center;
        }
        
        label {
            color: #4b356d;
        }
        
        label a {
            color: #1f014d;
        }
        
        #form-main{
            width:100%;
        }
        
        #form-div {
            background-color: #65479149;
            padding: 3em;
            margin: 0 auto;
        }
        
        #boton-form{
            width: 100%;
            border: #fbfbfb solid 4px;
            cursor:pointer;
            background-color: #4b356d;
            color:white;
            font-size: 1em;
            padding: 1.2em;
            margin-top: 1em;
        }
    }
    footer {
        color: $footer-text-color;
        background-color: $footer-background-color;
        }
}

// Responsive DESKTOP
@media only screen and (min-width: 933px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1{
            font-size: 1.7em;
        }
        h1, nav {
            padding: 1em;
        }
        nav {
            ul {
                display: flex;
                gap: 2em;
                padding: 1em 1em 0 0;
                li {
                    font-size: 1.1em;
                    text-align: center;
                }
            }
        }
    }
        #section-introduccion{
            display: flex;
            justify-content: space-between;
            margin: 3em 1em 0 2em;
            font-size: 1.3em;
            #text-introduccion {
                color: #4b356d;
                width: 100%;
                margin: 0 1em 0 0em;
                padding: 3em 3em 0 2em;
                h2 {
                    font-size: 2.5em;
                    padding-bottom: 1em;
                }
                p {
                    text-align: justify;
                    font-size: 1em;
                }
            }
            img{
                width: 90%;
            }
        }
        #section-cita {
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: #c2bacf;
            background-color: #644791;
            font-size: 1.2em;
            img {
                width: 80%;
            }
            blockquote {
                font-size: 1.2em;
                text-align: center;
                font-style: italic;
                padding: 1em 2em;
                width: 90%;
            }
        } 
        #section-biografia {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 5em;
            justify-content: space-between;
            margin: 0 1em;
            padding: 2em;
            p{
                margin: 1em 3em;
                text-align: justify;
                font-size: 1.25em;
            }
        }
        
        #section-titulo-discografia {
            margin: 2em;
        }
        
        .section-discografia h4 {
            text-align: center;
            padding: 2em;
            font-size: 1.7em;
        }
        
        .list-canciones ol {
            font-size: 1.1em;
        }
        
        .list-canciones li{
            padding: 1em;
            width: 100vh;
        }
        
        #section-tour-mapa div h3 {
            font-size: 3em;
        }
        
        #section-tour-mapa h3 {
            font-size: 1.5em;
        }
        
        #grid-tour{
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 2em;
            padding: 2em;
            margin: 2em 2em 2em 2em;
        }
        
        #grid-tour iframe{
            border: none;
            width: 100%;
            height: 100%;
            align-self: start;
            padding-right: 2%;
        }
        
        #grid-tour img{
            width: 100%;
            height: 100%;
            align-self: start;
            padding-right: 2%;
        }
        
        #feedback-page{
            text-align:center;
        }
        
        
        .form-datos {
            color:#3c3c3c;
            border-radius: 0;
            line-height: 2em;
            background-color: white;
            padding: 0.2em;
            width:100%;
            border: 3px solid rgba(0, 0, 0, 0);
        }
        
        textarea {
            width: 100%;
            height: 200%;
            line-height: 150%;
        }
        
        #form-div {
            width: 70vh;
        }    
}

// Responsive TABLET
@media only screen and (min-width: 600px) and (max-width: 932px) {
    header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
            font-size: 1.5em;
        }
        h1, nav {
            padding: 1em;
        }
        nav {
            ul {
                display: flex;
                gap: 1.5em;
                padding: 1em;
                li {
                    font-size: 1em;
                    text-align: center;
                }
            }
        }
    }
    #section-introduccion {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 2em 1em 1em 1em;
        font-size: 1.2em;
        #text-introduccion {
            color: #4b356d;
            width: 100%;
            margin: 0 1em 0 0em;
            padding: 2em 2em 0 1em;
            h2 {
                font-size: 2em;
                padding-bottom: 0.8em;
            }
            p {
                text-align: justify;
                font-size: 1em;
            }
        }
        img {
            width: 80%;
        }
    }
    #section-cita {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #c2bacf;
        background-color: #644791;
        font-size: 1.1em;
        img {
            width: 70%;
        }
        blockquote {
            font-size: 1.1em;
            text-align: center;
            font-style: italic;
            padding: 1em 1.5em;
            width: 80%;
        }
    }
    #section-biografia {
        display: flex;
        flex-direction: column;
        gap: 3em;
        justify-content: center;
        margin: 0 1em;
        padding: 1.5em;
        p {
            margin: 1em 2em;
            text-align: justify;
            font-size: 1.2em;
        }
    }
    #section-titulo-discografia {
        margin: 1.5em;
    }
    .section-discografia h4 {
        text-align: center;
        padding: 1.5em;
        font-size: 1.5em;
    }
    .list-canciones ol {
        font-size: 1em;
    }
    .list-canciones li {
        padding: 0.8em;
        width: 80vh;
    }
    #section-tour-mapa div h3 {
        font-size: 2.5em;
    }
    #section-tour-mapa h3 {
        font-size: 1.3em;
    }
    #grid-tour {
        display: grid;
        grid-template-columns: 1fr;
        gap: 1.5em;
        padding: 1.5em;
        margin: 1.5em 1.5em 1.5em 1.5em;
    }
    #grid-tour iframe {
        border: none;
        width: 100%;
        height: 100%;
        align-self: start;
        padding-right: 1.5%;
    }
    #grid-tour img {
        width: 100%;
        height: 100%;
        align-self: start;
        padding-right: 1.5%;
    }
    #feedback-page {
        text-align: center;
    }
    .form-datos {
        color: #3c3c3c;
        border-radius: 0;
        line-height: 1.8em;
        background-color: white;
        padding: 0.2em;
        width: 100%;
        border: 3px solid rgba(0, 0, 0, 0);
    }
    textarea {
        width: 100%;
        height: 180%;
        line-height: 140%;
    }
    #form-div {
        width: 60vh;
    }
}