$text-color_1: #4b356d;
$text-color-2: #644791;
$text-color_3: #c2bacf;
$text-color_4: #383838;

$font-family_1: 'Roboto', sans-serif;

$background-color_1: #4b356d;
$background-color_2: #644791;
$background-color_3: #c2bacf;

$footer-background-color: #dbdbdb;
$footer-text-color: #383838;

$border-radius: 25px;