$text-color-1: #4b356d;
$text-color-2: #644791;
$text-color-3: #c2bacf;
$text-color-4: #383838;
$text-color-5: #e3daf0;

$font-family: 'Roboto', sans-serif;

$background-color-1: #4b356d;
$background-color-2: #644791;
$background-color-3: #c2bacf;
$background-color-4: #e3daf0;

$footer-background-color: #dbdbdb;
$footer-text-color: #383838;

$border-radius: 25px;